body {
    margin: 0;
    padding: 0;
    overflow: overflow;
    background-color: #996633;
}

.grid-container {
    /* Up to lg : */
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 22vw));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .grid-container {
        grid-template-columns: repeat(4, minmax(100px, 13vw));
    }
  }

.grid-container img {
    height: auto;
    width: 100%;
}

.alert {
    height: 40px;
    line-height: 10px;
}

#container-box {
    height: 30px;
}