body {
    margin: 0;
    padding: 0;
    overflow: overflow;
    background-color: #66cc99;
}

.grid-container {  
    padding-top: 6vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 22vw)); /* Up to lg grid is 3x4 */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;

}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(100px, 13vw)); /* MD and up grid is 4x3 */
        padding-bottom: 6vh; /* grid given a bit more breathing space */
    }
  }

@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(6, minmax(100px, 13vw)); /* XL devices grid is 6x2*/
    }
}

.grid-container img {
    height: auto;
    width: 100%;
}

.alert {
    height: 40px;
}

#container-box {
    height: 30px;
    justify-content: center;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
  }