/* universal text */ 
body {
    margin: 0;
    padding: 0;
    overflow: overflow;
    background-color: #66cc99;
    font-family: 'Comic Neue', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* Start screen layout */

#game-title {
padding-top: 3vw;
}

.home-btn-container {
    margin: auto;
    width: fit-content;
    padding: 5vw 0;

}

.home-image {
    height: auto;
    width: 100%;
}


/* game elements */ 

.grid-container {  
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 22vw)); /* Up to md grid is 3x4 */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;

}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(100px, 13vw)); /* MD and up grid is 4x3 */
        padding-bottom: 6vh; /* grid given a bit more breathing space */
    }
  }

@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(6, minmax(100px, 13vw)); /* XL devices grid is 6x2*/
    }
}

.grid-container img {
    height: auto; 
    width: 100%;
} 

.grid-container img:active {
    transform: translate (0px, 20px);
    transition: transform .2s
}

#container-box {
    height: 30px;
    justify-content: center;
}

/* Fix suggested by CI student Tom Nagy with reference to Stack Overflow fix suggested by Ross Allen https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
.disable-dbl-tap-zoom {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
  }

  .reset-btn-container {
    margin: auto;
    width: fit-content;
    padding: 5vw 0;

}